.c-applied-filters
    padding-top: 10px

    &__item
        padding-bottom: 10px
        padding-right: 3px
        display: inline-block

    &__items
        display: inline-block

    &__item:after
        content: "+"
        display: inline-block
        color: #111

    &__items &__item:last-child:after
        display: none

    &__clear
        margin-left: 4px
        display: inline-block

    &__any
        padding-top: 10px
        display: none
        color: #999
