.c-button
    padding: 9px 10px 7px
    display: inline-block
    border: 1px solid rgba(0,0,0,0)
    border-radius: 2px
    font-size: 1em
    color: #111
    cursor: pointer
    background: transparent
    outline: none

    &--gray
        border-color: #c5c5c5
        background: linear-gradient(to top, #f3f3f3, #ffffff)
        box-shadow: 1px 2px 1px rgba(0,0,0,.06)
        color: #505050
        &:hover, &:focus
            border-color: #b6b5b5
            background: linear-gradient(to top, #e8e8e8, #f4f3f3)

    &--blue
        text-shadow: 0 -1px #1597c5
        color: #fff
        border-color: #1697c5
        background: linear-gradient(to top, #12b6f4, #28bdf5)
        box-shadow: 1px 2px 1px rgba(0,0,0,.06)
        &:hover, &:focus
            border-color: #0f87b1
            background: linear-gradient(to top, #0fade8, #26b7ee)

    &--green
        text-shadow: 0 -1px #82b126
        color: #fff
        border-color: #78a81e
        background: linear-gradient(to top, #95c62d, #9fcc41)
        box-shadow: 1px 2px 1px rgba(0,0,0,.06)
        &:hover, &:focus
            border-color: #658d19
            background: linear-gradient(to top, #8bb92b, #92bb3b)

    &--red
        border-color: #cb5841
        background: linear-gradient(to top, #dd6751, #e07561)
        box-shadow: 1px 2px 1px rgba(0,0,0,.06)
        &:hover, &:focus
            border-color: #c2543e
            background: linear-gradient(to top, #d3624d, #d6705d)

    &--red-link
        padding-left: 0
        padding-right: 0
        color: #d9604c
        &:hover, &:focus
            text-decoration: underline

    &--blue-link
        color: #1dadf5
        &:hover, &:focus
            text-decoration: underline
        &.c-button--disable
            color: #ddd
            cursor: default
            &:hover
                text-decoration: none
    &--strong
        font-weight: bold

    &--small
        padding: 5px 6px 3px
