@font-face
    font-family: 'web_symbolsregular'
    src: url('../assets/fonts/websymbols-regular-webfont.woff2') format('woff2'), url('../assets/fonts/websymbols-regular-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@keyframes animateLoader
    0%
        content: "0"
    12.5%
        content: "1"
    25%
        content: "2"
    37.5%
        content: "3"
    50%
        content: "4"
    62.5%
        content: "5"
    75%
        content: "6"
    87.5%
        content: "7"
    100%
        content: "0"

.c-icon
    position: relative
    display: inline-block
    vertical-align: middle
    font-family: 'web_symbolsregular'
    font-style: normal
    line-height: 50%
    color: #636363

    &--times:before
        display: inline-block
        content: "\'"
        font-size: 8px
        transform: translateY(-2px)

    &--arrow-down:before
        font-size: 15px
        content: "\{"

    &--arrow-up:before
        content: "\}"

    &--loader:before
        content: ""
        font-size: 12px
        animation: animateLoader 1s linear infinite

    &--red
        color: #a7412a
        text-shadow: 0 1px #d97d6c
