.c-layout
    @extend .u-clearfix

    &--main
        padding-top: 20px

    &__sidebar
        float: left
        width: 200px
        background: #c0c0c0

    &__section
        margin-left: 250px

    &__content
        max-width: 940px
        padding-bottom: 40px

    &__col-1\/2
        min-height: 1px
        float: left
        width: 50%

    &__col-1\/3
        min-height: 1px
        float: left
        width: 33.3333%

    &__col-2\/3
        min-height: 1px
        float: left
        width: 66.6666%


@media screen and (max-width: 1200px)
    .c-layout
        &__sidebar
            display: none

        &__section
            margin: 0 20px

        &__content
            margin: 0 auto

@media screen and (max-width: 800px)
    .c-layout
        &__col-1\/2,
        &__col-1\/3,
        &__col-2\/3
            width: 100%
            float: none
