.c-pagination
    padding: 10px 0
    text-align: right
    color: #111

    &__item
        display: inline-block

        &:before
            content: "|"
            display: inline-block
            font-size: 8px

        &:first-child:before
            display: none

    &__arrow
        display: inline-block
        font-size: 20px
        line-height: 12px
        vertical-align: middle

    &__page-input
        padding: 0
        width: 28px
        height: 28px
        border: 1px solid #c5c5c5
        border-radius: 3px
        box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
        text-align: center
        background: #fff

        &:focus
            outline: none
            border-color: #989898

@media screen and (max-width: 800px)
    .c-pagination
        text-align: left
