.c-search
    background: #f8f8f8
    border: 1px solid #c5c5c5

    &__group
        padding: 20px 0 0
        border-bottom: 1px solid #c5c5c5

    &__group-title
        margin: 0
        padding-bottom: 7px
        padding: 0 20px 7px
        font-weight: bold
        color: #111

    &__group-body
        @extend .u-clearfix

    &__group-footer
        padding: 10px 20px

    &__filter-row
        @extend .u-clearfix

    &__filter-item
        padding: 0 20px
        float: left
        width: 195px
        padding-right: 5px
        padding-bottom: 10px

        // temporary style for native fields
        select
            width: 100%
            font-size: 16px

        input[type="date"]
            width: 95%
            font-size: 16px

    &__filter-remove
        width: auto

    &__colums
        padding: 10px 0
        width: 16%
        float: left

    &__column-item
        box-sizing: border-box
        float: left
        width: 16%
        padding: 0 0 10px 20px
        font-size: 11px
        color: #111


    &__column-checkbox
        margin-right: 3px

    &__footer
        padding: 10px 20px

@media screen and (max-width: 950px)
    .c-search__column-item
        width: 20%

@media screen and (max-width: 800px)
    .c-search
        &__filter-row
            padding-top: 10px
            border-bottom: 1px solid #c5c5c5

        &__filter-row:first-child
            padding-top: 0

        &__column-item
            width: 50%

@media screen and (max-width: 400px)
    .c-search__column-item
        width: 100%
