.c-user-table
    border: 1px solid #c5c5c5

    &__scroll
        overflow: auto

    &__structure
        border-spacing: 0
        border-collapse: collapse
        min-width: 800px
        width: 100%

    &__cell-head
        padding: 13px 0 11px
        border-bottom: 1px solid #c5c5c5
        background: linear-gradient(to top, #f3f3f3, #ffffff)

    &__cell
        border-bottom: 1px solid #c5c5c5
        padding: 14px 0 13px
        margin: 0
        text-align: center
        border-left: 1px solid #c5c5c5
        
        &:first-child
            border-left: none

    .is-user-table__row--selected &__cell
        background: #ebf8fe

    &__row:last-child &__cell
        border-bottom: none

    &__checkbox
        display: inline-block
        padding-left: 8px
        width: 19px

    &__avatar
        display: inline-block
        vertical-align: middle

    &__avatar-image
        vertical-align: middle
        border-radius: 2px

    &__fullname
        font-weight: bold
        color: #111
        text-decoration: none
        &:hover
            text-decoration: underline

    &__sort-link
        color: #111
        text-decoration: none

    &__sort-link:hover &__sort-link-text
        text-decoration: underline

    &__sort-link-text
        display: inline-block
        padding-right: 3px

    &__blank-link
        padding: 10px 8px 5px 5px
        margin: 1px 5px 0 0
        text-decoration: none
        float: right
        font-size: 0

        &:after,
        &:before
            content: ""
            display: inline-block
            width: 8px
            height: 4px
            border: 1px solid #505050
            border-top-width: 2px

        &:after
            margin-left: -10px
            transform: translate(3px, -5px)

    &__footer
        border-top: 1px solid #c5c5c5
        background: #f8f8f8

    // excel export
    &__export-excel
        padding: 10px 10px 0
        text-align: right

    &__export-excel-item
        display: inline-block
        padding-bottom: 10px

    &__export-progress
        display: inline-block
        width: 106px
        padding: 9px 0 8px
        margin-right: 1px
        border: 1px solid #c5c5c5
        background: #fff
        color: #505050
        border-radius: 3px
        box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
        text-align: center

    // user actions
    &__user-actions
        display: none
        padding: 10px

    // modifiers
    &--align-left
        text-align: left

@media screen and (max-width: 800px)
    .c-user-table__export-excel
            border-top: 1px solid #c5c5c5
            text-align: left
